#infoContainer {
  padding: 15px;
  background-color: #D6D6D6;
  border-radius: 10px;
  
}
#headshot {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #BCBBBD;
}
.quote {
  font-size: 30px;
}

